<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table>
    <tr>
      <td>Name</td>
      <td>Skill</td>
      <td>Context</td>
      <td>Years</td>
      <td>Formal?</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>skillz</td>
      <td>con</td>
      <td>yea</td>
      <td>edu</td>
    </tr>
    <% end %>
  </table>
</div>
